<a href="https://colab.research.google.com/github/A-Belknap/austin_INFO5707_Spring2022/blob/main/lab_assignment_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The ninth Lab-assignment (04/14/2022, 50 points in total)

The purpose of this assignment is to practice different Hypothesis Testing.

### Question 1 (15 points) 

During the 1980s, the general consensus is that about 5% of the nation’s children had autism. Some claimed that increases certain chemicals in the environment has led to an increase in autism. 

(1) Write an appropriate hypothesis test for this situation (5 points).  

(2) Give an appropriate test for this hypothesis, stating what are the necessary conditions for performing the test (5 points). 

(3) A recent study examined 384 children and found that 46 showed signs of autism. Perform a test of the hypothesis and state the p-value (5 points).

In [ ]:
# You answer here
"""1) H0: p=0.05, H1: p>0.05
   2) Use a one sided z-score test, we need n=384, observed population(pop1)=46/384,
      hypothezized population(pop0)=0.05
   3) z_score=(pop1-pop0)/(((pop0*(1-pop0))/n)**(0.5))
"""

In [76]:
# your code here
import scipy.stats
# set the necessary variables to calculate the z-score
n = 384
pop0 = 0.05
pop1 = (46/n)

# calculate the z-score
z_score = (pop1-pop0)/(((pop0*(1-pop0))/n)**(0.5))

# find p-value
p_value = scipy.stats.norm.sf(abs(z_score))

print("z-score:", z_score)
print("p-value:", p_value)

z-score: 6.27512493759735
p-value: 1.7467682501956986e-10

### Question 2 (15 points) 

National data in the 1960s showed that about 44% of the adult population had never smoked. 

(1) State a null and alternative hypothesis to test that the fraction of the 1995 population of adults that had never smoked had increased (5 points).  

(2) A national random sample of 891 adults were interviewed and 463 stated that they had never smoked. Perform a z-test of the hypothesis and give an approriate p-value (5 points). 

(3) Create a 98% confidence interval for the proportion of adults who had never been smokers (5 points).

In [ ]:
# You answer here
"""1) H0: p=0.44, H1: p>0.44
"""

In [78]:
# your code here
import scipy.stats
# set the necessary variables to calculate the z-score
n = 891
pop0 = 0.44
pop1 = (463/n)

# calculate the z-score
z_score = (pop1-pop0)/(((pop0*(1-pop0))/n)**(0.5))

# find p-value
p_value = scipy.stats.norm.sf(abs(z_score))

# find 98% confidence interval
confidence_level = .98
num_tails = 2
alpha = (1 - confidence_level)/num_tails
sigma = (((pop0*(1-pop0))/n)**(0.5))

# find z-critical
z_critical = scipy.stats.norm.ppf(1 - alpha)

# find confidence interval
lowerCI = pop0 - (z_critical * sigma)
upperCI = pop0 + (z_critical * sigma)

print("z-score:", z_score)
print("p-value:", p_value)
print('98% confidence interval:')
print("lower CI:", lowerCI)
print("upper CI:", upperCI)

z-score: 4.7891054863903095
p-value: 8.376320241379403e-07
98% confidence interval:
lower CI: 0.40131379241284104
upper CI: 0.47868620758715896

### Question 3 (15 points) 
In this problem,we will examine the sugar content of several national brands of cereals, here measured as a percentage of weight.



(1) Give a summary of these two datasets (5 points). 

(2) Create side-by-side boxplots and interpret what you see (5 points). 

(3) Use python to create a 95% confidence interval for the difference in mean sugar content and explain your result (5 points).

In [ ]:
# You answer here
"""By looking at the two datasets it appears that the amount of sugar in the
children's cereals is much higher than those of the adult cereals.

After creating the boxplots we can see that the mean amount of sugar in childrens
cereal is indeed higher than that of adult cereal.
"""

In [80]:
# your code here
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import math
import scipy.stats

# create datasets
children = [40.3, 55.0, 45.7, 43.3, 50.3, 45.9, 53.5, 43.0, 44.2, 44.0, 33.6, 55.1, 48.8, 50.4, 37.8, 60.3, 46.6, 47.4, 44.0]
adult = [20.0, 30.2, 2.2, 7.5, 4.4, 22.2, 16.6, 14.5, 21.4, 3.3, 10.0, 1.0, 4.4, 1.3, 8.1, 6.6, 7.8, 10.6, 10.6, 16.2, 14.5, 4.1, 15.8, 4.1, 15.8, 4.1, 2.4, 3.5, 8.5, 4.7, 18.4]

# create dictionaries
dict1 = {'Sugar': children}
dict2 = {'Sugar': adult}

# create dataframs
df_child = pd.DataFrame(dict1)
df_adult = pd.DataFrame(dict2)

# create side by side boxplot
fig, axes = plt.subplots(1,2, figsize=(15,6), sharey=True)

sns.boxplot(ax=axes[0], y=df_child['Sugar'])
axes[0].set_title('Children')
sns.boxplot(ax=axes[1], y=df_adult['Sugar'])
axes[1].set_title('Adult')

# calculate sample size
child_n = df_child['Sugar'].count()
adult_n = df_adult['Sugar'].count()

# caluclate sample means
child_mean = df_child['Sugar'].mean()
adult_mean = df_adult['Sugar'].mean()

# calculate sample variance
child_v = np.var(df_child['Sugar'], ddof=1)
adult_v = np.var(df_adult['Sugar'], ddof=1)

# find pooled standard error
pooled_se = np.sqrt(child_v / child_n + adult_v / adult_n)
delta = child_mean-adult_mean
    
tstat = delta /  pooled_se
df = (child_v / child_n + adult_v / adult_n)**2 / (child_v**2 / (child_n**2 * (child_n - 1)) + adult_v**2 / (adult_n**2 * (adult_n - 1)))
    
# two side t-test
p = 2 * scipy.stats.norm.cdf(-abs(tstat), df)
    
# find confidence interval
lowerCI = delta - scipy.stats.norm.ppf(0.975, df)*pooled_se 
upperCI = delta + scipy.stats.norm.ppf(0.975, df)*pooled_se

print('95% confidence interval:')
print("lower CI:", lowerCI)
print("upper CI:", upperCI)

95% confidence interval:
lower CI: -51.061231501794914
upper CI: 124.35155408244006

### Question 4 (15 points, with 10 extra point included) A/B Testing

Punishment for crime has many [philosophical justifications](http://plato.stanford.edu/entries/punishment/#ThePun).  An important one is that fear of punishment may *deter* people from committing crimes.

In the United States, some jurisdictions execute people who are convicted of particularly serious crimes, such as murder.  This punishment is called the *death penalty* or *capital punishment*.  The death penalty is controversial, and deterrence has been one focal point of the debate.  There are other reasons to support or oppose the death penalty, but in this project we'll focus on deterrence.

The key question about deterrence is:

> Through our exploration, does instituting a death penalty for murder actually reduce the number of murders?

You might have a strong intuition in one direction, but the evidence turns out to be surprisingly complex.  Different sides have variously argued that the death penalty has no deterrent effect and that each execution prevents 8 murders, all using statistical arguments!  We'll try to come to our own conclusion.

#### The data

The main data source for this lab comes from a [paper](http://cjlf.org/deathpenalty/DezRubShepDeterFinal.pdf) by three researchers, Dezhbakhsh, Rubin, and Shepherd.  The dataset contains rates of various violent crimes for every year 1960-2003 (44 years) in every US state.  The researchers compiled the data from the FBI's Uniform Crime Reports.

Since crimes are committed by people, not states, we need to account for the number of people in each state when we're looking at state-level data.  Murder rates are calculated as follows:

$$\text{murder rate for state X in year Y} = \frac{\text{number of murders in state X in year Y}}{\text{population in state X in year Y}}*100000$$

(Murder is rare, so we multiply by 100,000 just to avoid dealing with tiny numbers.)

Murder rates vary over time, and different states exhibit different trends. The rates in some states change dramatically from year to year, while others are quite stable. Let's plot a couple, just to see the variety.

*Hint*: To create two lines, you will need create the table `ak_mn` with two columns of murder rates, in addition to a column of years. This table will have the following structure:

| Year | Murder rate in Alaska | Murder rate in Minnesota |
|------|-----------------------|--------------------------|
| 1960 | 10.2                  | 1.2                      |
| 1961 | 11.5                  | 1                        |
| 1962 | 4.5                   | 0.9                      |

<center>... (41 rows omitted)</center>

Some US states have the death penalty, and others don't, and laws have changed over time. In addition to changes in murder rates, we will also consider whether the death penalty was in force in each state and each year.

Using this information, we would like to investigate how the presence of the death penalty affects the murder rate of a state.

(1) Use preban_rates_copy and postban_rates to create a table change_in_death_rates that contains each state's population, murder rate, and whether or not that state had the death penalty for both 1971 and 1973. (5 points)

Create a table rate_means that contains the average murder rates for the states that had the death penalty and the states that didn't have the death penalty. It should have two columns: one indicating if the penalty was in place, and one that contains the average murder rate for each group.

Hint: tbl_1.append(tbl_2) with create a new table that includes rows from both tbl_1 and tbl_2. Both tables must have the exactly the same columns, in the same order.

(2) We want to figure out if there is a difference between the distribution of death rates in 1971 and 1973. Specifically, we want to test if murder rates were higher in 1973 than they were in 1971. You are required to conduct A/B Testing below (10 points):

(2-1) Set observed_difference to the observed test statistic using the rate_means table. 


(2-2) Given a table like change_in_death_rates, a value column label, and a group column group_label, write a function that calculates the appropriate test statistic.

(2-3) Write a function simulate_and_test_statistic to compute one trial of our A/B test. Your function should run a simulation and return a test statistic.

(2-4) Simulate 5000 trials of our A/B test and store the test statistics in an array called differences.

(2-5) Find the p-value for your test and assign it to empirical_P.

(2-6) Using a 5% P-value cutoff, draw a conclusion about the null and alternative hypotheses. Describe your findings using simple, non-technical language. What does your analysis tell you about murder rates after the death penalty was suspended? What can you claim about causation from your statistical analysis?

In [81]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# You answer here
""" The difference in death from preban to postban is not significant, meaning it is closer to the null of the rates not changing. We cannot determine causation from this analysis"""

In [83]:
# You code here
import pandas as pd
import numpy as np
import datascience as ds
from datascience import Table


# read in the dataset
file_path = "/content/drive/MyDrive/Lab 9/crime_rates.csv"
df = pd.read_csv(file_path)
df

,State,Year,Population,Violent Crime Rate,Murder Rate,Forcible Rape Rate,Robbery Rate,Aggraveted Assault Rate,Property Crime Rate,Burglary Rate,Larceny & Theft Rate,Motor Vehicle Theft Rate
0,Alaska,1960,226167,104.300003,10.2,20.799999,28.299999,45.099998,1544.900024,332.100006,970.500000,242.300003
1,Alaska,1961,234000,88.900002,11.5,13.200000,12.400000,51.700001,1540.599976,380.799988,950.000000,209.800003
2,Alaska,1962,246000,91.500000,4.5,18.700001,13.800000,54.500000,1564.599976,351.600006,985.400024,227.600006
3,Alaska,1963,248000,109.699997,6.5,14.900000,22.200001,66.099998,1952.800049,381.500000,1213.699951,357.700012
4,Alaska,1964,250000,150.000000,10.4,22.400000,21.200001,96.000000,2016.000000,443.600006,1218.400024,354.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
2195,Wyoming,1999,480000,232.500000,2.3,28.600000,15.400000,186.199997,3225.199951,489.799988,2611.100098,124.300003
2196,Wyoming,2000,493782,266.500000,2.4,32.400002,14.200000,217.500000,3031.500000,420.799988,2494.600098,116.000000
2197,Wyoming,2001,494423,257.299988,1.8,30.900000,17.000000,207.500000,3260.399902,501.799988,2617.800049,140.800003
2198,Wyoming,2002,498830,273.399994,3.0,29.700001,18.600000,222.100006,3306.500000,490.700012,2666.800049,148.899994
2199,Wyoming,2003,501242,262.100006,2.8,27.100000,16.799999,215.500000,3321.300049,520.900024,2641.199951,159.199997

In [84]:
# create a table of the murder rates
murder_rates = Table.from_df(df).select('State', 'Year', 'Population', 'Murder Rate')
murder_rates

State  | Year | Population | Murder Rate
Alaska | 1960 | 226167     | 10.2
Alaska | 1961 | 234000     | 11.5
Alaska | 1962 | 246000     | 4.5
Alaska | 1963 | 248000     | 6.5
Alaska | 1964 | 250000     | 10.4
Alaska | 1965 | 253000     | 6.3
Alaska | 1966 | 272000     | 12.9
Alaska | 1967 | 272000     | 9.6
Alaska | 1968 | 277000     | 10.5
Alaska | 1969 | 282000     | 10.6
... (2190 rows omitted)

In [85]:
# create a table for death penalty
non_death_penalty_states = np.array(['Alaska', 'Hawaii','Maine', 'Michigan', 'Wisconsin', 'Minnesota'])

def had_death_penalty_in_1971 (state):
  """Returns True if the argument is the name or a state that had the death penalty in 1971."""
  return state not in non_death_penalty_states

states = murder_rates.group('State') .select ('State')
death_penalty = states.with_column ('Death Penalty', states.apply(had_death_penalty_in_1971, 0))
death_penalty

State       | Death Penalty
Alabama     | True
Alaska      | False
Arizona     | True
Arkansas    | True
California  | True
Colorado    | True
Connecticut | True
Delaware    | True
Florida     | True
Georgia     | True
... (40 rows omitted)

In [86]:
# create a table of states that had the death penalty in 1971
preban_rates = murder_rates.where('Year', 1971).join('State', death_penalty.where('Death Penalty', True))
preban_rates

State       | Year | Population | Murder Rate | Death Penalty
Alabama     | 1971 | 3479000    | 15.1        | True
Arizona     | 1971 | 1849000    | 6.7         | True
Arkansas    | 1971 | 1944000    | 10.5        | True
California  | 1971 | 20223000   | 8.1         | True
Colorado    | 1971 | 2283000    | 6.5         | True
Connecticut | 1971 | 3081000    | 3.1         | True
Delaware    | 1971 | 558000     | 6.1         | True
Florida     | 1971 | 7041000    | 13.3        | True
Georgia     | 1971 | 4664000    | 16          | True
Idaho       | 1971 | 732000     | 3.3         | True
... (34 rows omitted)

In [87]:
# create a table of states that had the death penalty in 1973
postban_rates = murder_rates.where('Year', 1973).join('State', preban_rates).select('State', 'Year', 'Population', 'Murder Rate')
postban_rates = postban_rates.with_column('Death Penalty', False)
postban_rates = postban_rates.sort('State')
postban_rates

State       | Year | Population | Murder Rate | Death Penalty
Alabama     | 1973 | 3539000    | 13.2        | False
Arizona     | 1973 | 2058000    | 8.1         | False
Arkansas    | 1973 | 2037000    | 8.8         | False
California  | 1973 | 20601000   | 9           | False
Colorado    | 1973 | 2437000    | 7.9         | False
Connecticut | 1973 | 3076000    | 3.3         | False
Delaware    | 1973 | 576000     | 5.9         | False
Florida     | 1973 | 7678000    | 15.4        | False
Georgia     | 1973 | 4786000    | 17.4        | False
Idaho       | 1973 | 770000     | 2.6         | False
... (34 rows omitted)

In [88]:
# create a table that contains the change in death rates
preban_rates_copy = preban_rates.copy()
change_in_death_rates = preban_rates_copy.append(postban_rates)
change_in_death_rates

State       | Year | Population | Murder Rate | Death Penalty
Alabama     | 1971 | 3479000    | 15.1        | True
Arizona     | 1971 | 1849000    | 6.7         | True
Arkansas    | 1971 | 1944000    | 10.5        | True
California  | 1971 | 20223000   | 8.1         | True
Colorado    | 1971 | 2283000    | 6.5         | True
Connecticut | 1971 | 3081000    | 3.1         | True
Delaware    | 1971 | 558000     | 6.1         | True
Florida     | 1971 | 7041000    | 13.3        | True
Georgia     | 1971 | 4664000    | 16          | True
Idaho       | 1971 | 732000     | 3.3         | True
... (78 rows omitted)

In [89]:
# create a table that contains the mean death rate for states with the death penalty and states without
new_table = change_in_death_rates.group("Death Penalty", np.average)
rate_means = new_table.select("Death Penalty", "Murder Rate average")
rate_means

Death Penalty | Murder Rate average
False         | 8.12045
True          | 7.51364

In [90]:
# determine the observed difference
observed_difference = rate_means.column("Murder Rate average").item(0) - rate_means.column("Murder Rate average").item(1)
observed_difference

0.6068181600659095

In [91]:
# find the test statistic
def find_test_stat(table, label, group_label):
  new_table = table.group(group_label, np.average)
  return new_table.column(label + " average").item(0) - new_table.column(label + " average").item(1)

find_test_stat(change_in_death_rates, "Murder Rate", "Death Penalty")

0.6068181600659095

In [92]:
# create an array of the differences
differences = ds.make_array()

def simulate_and_test_statistic(table, labels_col, values_col):
  shuffled_labels = table.sample(with_replacement = False).column(labels_col)
  shuffled_table = table.with_column(labels_col, shuffled_labels)
  return find_test_stat(shuffled_table, labels_col, values_col)

for i in np.arange(5000):
  test = simulate_and_test_statistic(change_in_death_rates, "Murder Rate", "Death Penalty")
  differences = np.append(differences, test)

differences

array([-1.12045459,  0.08409086, -0.63409078, ...,  1.42954544,
        1.71590912, -1.04318185])

In [93]:
# find the P-value
empirical_P = sum(differences >= observed_difference) / len(differences)
empirical_P

0.2636