<a href="https://colab.research.google.com/github/A-Belknap/austin_INFO5707_Spring2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
def letter_count(str1):
    dict = {}
    for n in str1:
      keys = dict.keys()
      if n in keys:
        dict[n] += 1
      else:
        dict[n] = 1
    return dict
print(letter_count('retriever'))

(2) Write a Python program to sum all the items in a list. (5 points)

In [ ]:
list1 = [2,435,6536]
print(sum(list1))

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [ ]:
str1 = 'retriever'
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]

  return str1

print(change_char('retriever'))

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [ ]:
num1 = input('Enter a: ')
num2 = input('Enter b: ')
def function_s(num1, num2):
  s = 3.14 * (1 + num1 / num2) ** 3
print(s)

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [ ]:
tuple1 = ('g', 'e', 8, 'a', 0, 'j')
print('j' in tuple1)

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [ ]:
set1 = (2, 5, 8, 35, 3, 76, 9)
print('Set max:')
print(max(set1))
print('Set min:')
print(min(set1))

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
import random
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470',
                'sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390',
                'sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907',
                'gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659'
                ,'nv0234','hy0232']
def divide_student(student_list, n):
  random.shuffle(student_list)
  return [student_list[i::n] for i in range(n)]

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [ ]:
def first_duplicate(nums):
    num_set = set()
    no_duplicate = -1
    for i in range(len(nums)):
        if nums[i] in num_set:
            return nums[i]
        else:
            num_set.add(nums[i])
    return no_duplicate
print(first_duplicate([2, 5, 7, 5, 9]))

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [ ]:
from datetime import date, timedelta

def sundays_year(year):
       dt = date(year, 1, 1)     
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
          
for s in sundays_year(1971):
   print(s)